# [Базовый Endpoint API]
# Фреймворк работает через универсальный интерфейс OpenAI, но поддерживает любые совместимые модели.
# Укажите адрес сервера, куда фреймворк будет отправлять запросы.
API_URL=your_api_url_here
# Примеры:
# Официальный Google Gemini (по умолчанию): "https://generativelanguage.googleapis.com/v1beta/openai/"
# Официальный OpenAI: "https://api.openai.com/v1"


# Фреймворк поддерживает ротацию ключей по принципу Round-Robin для предотвращения ошибок 429 Rate Limit в производственной среде.
# Добавьте столько ключей, сколько вам нужно, с префиксом 'LLM_API_KEY_'
LLM_API_KEY_1=your_llm_api_key_here
# LLM_API_KEY_2=your_fallback_key_here
# LLM_API_KEY_3=your_third_key_here


# Для того чтобы агент мог читать сообщения и писать от своего имени (как настоящий пользователь),
# необходимы ключи разработчика Telegram (MTProto).
# Получить ключи можно здесь: https://my.telegram.org/auth
TG_API_ID_AGENT=0000
TG_API_HASH_AGENT=your_hash_here


# Строка подключения к PostgreSQL (Реляционная память: Задачи, картина мира, Логи).
SQL_DB_URL=postgresql+asyncpg://postgres:postgres@postgres_db:5432/agent_core_db # Если вы запускаете AAF через Docker Compose, оставьте это значение без изменений.


# Tavily API — поисковик, оптимизированный специально для ИИ-агентов (возвращает чистый контент без мусора).
# Получить: https://tavily.com/
TAVILY_API_KEY=your_tavily_key # Сервис очистки веб-запросов для LLM


# Доступ к метеорологическим данным.
# Получить: https://openweathermap.org/api
OPENWEATHER_API_KEY=your_openweather_key # Погода


# Для каждого нового агента  делайте его уникальным (5434, 5435, 5436...)
DB_PORT=5434

