# Telegram API (Берется с my.telegram.org)
TG_API_ID_AGENT=12345678
TG_API_HASH_AGENT=124356876

# Database URL (PostgreSQL)
SQL_DB_URL=postgresql+asyncpg://postgres:postgres@postgres_db:5432/agent_core_db


LLM_API_KEY_1="your_llm_api_key_here"
# ... можно добавить до 100 разных, система автоматически распределяет нагрузку
API_URL="your_api_url_here"


TAVILY_API_KEY="your_tavily_key"
OPENWEATHER_API_KEY="your_openweather_key"

# Для каждого нового агента на этом компе делате его уникальным (5434, 5435, 5436...)
DB_PORT=5434

